---
import TransitionOverlay from '@julian_cataldo/astro-transition/Overlay/TransitionOverlay.astro';
import Prefetch from '@julian_cataldo/astro-prefetch/Prefetch.astro';
import Tooltips from '@julian_cataldo/astro-tooltips/Tooltips.astro';
import SEO from '@julian_cataldo/astro-seo/SEO.astro';
import ScrollObserver from '@julian_cataldo/astro-scroll-observer/ScrollObserver.astro';
import Base from '@julian_cataldo/astro-base/Base.astro';
import Resets from '@julian_cataldo/astro-resets/Resets.astro';
import LightBox from '@julian_cataldo/astro-lightbox/LightBox.astro';
import ColorMode from '@julian_cataldo/astro-color-mode/ColorMode.astro';
import Breakpoints from '@julian_cataldo/astro-breakpoints/Breakpoints.astro';

import './style.global.scss';

export interface Props {
  title: string;
}
---

<Base
  lang='es'
  htmlClasses={['some-class', 'doby-doba']}
  htmlId={'the-id'}
  bodyClasses={['other-class', 'dabadi-dabada']}
  bodyId={'much-id'}
  jsEnabledClass={true}
>
  <Fragment slot='head'>
    <!--  -->
    <Tooltips />
    <!--  -->
    <Prefetch max={3} />
    <!--  -->
    <SEO
      image={'/some_image_url-preferably_absolute.jpg'}
      title={'Le cool title'}
      description={'Le insightful description'}
      siteName={'Le Website'}
    />
    <!--  -->
    <ScrollObserver />
    <!--  -->
    <Resets />
    <!--  -->
    <LightBox />
    <!--  -->
    <ColorMode />
    <!--  -->
  </Fragment>

  <Fragment slot='body'>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <Breakpoints />
    <!--  -->
    <!--  -->
    <TransitionOverlay speed={1000} color='red' zIndex={99} />
    <!--  -->
    <nav>
      My Navbar | Some | Link | Foo | Bar | Omelette | Bilbao |

      <button data-color-mode-switch>Toggle COLOR MODE 💡</button>

      | ℹ️&nbsp;&nbsp;
    </nav>

    <slot></slot>
  </Fragment>
</Base>

<style lang='scss'>
  nav {
    position: fixed;
    z-index: 101;
    top: 0;
    padding: 2rem;
    width: 100%;
    background-color: darkslategrey;
    color: beige;

    &::after {
      font-weight: 700;
    }
  }

  :global(main::before) {
    content: '';
    height: 6rem;
    display: block;
  }
</style>
<style lang='scss' is:global>
  [data-color-mode-switch] {
    all: unset;
    background: black;

    [data-color-mode='dark'] & {
      background: white;
      color: black;
    }

    padding: 0.3rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
  }

  nav {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 1s;

    [data-is-scrolling-up='true'] & {
      opacity: 1;
      transform: translateY(0);

      &::after {
        content: 'Is scrolling up…';
      }
    }

    [data-is-top='true'] & {
      opacity: 1;
      transform: translateY(0);

      &::after {
        content: 'Is top';
      }
    }

    [data-is-bottom='true'] & {
      opacity: 1;
      transform: translateY(0);

      &::after {
        content: 'Is bottom';
      }
    }
  }
</style>
