---
import TransitionOverlay from '@jc/astro-transition/Overlay/TransitionOverlay.astro';
import Prefetch from '@jc/astro-prefetch/Prefetch.astro';
import Tooltips from '@jc/astro-tooltips/Tooltips.astro';
import './style.global.scss';

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <title>{title}</title>
    <!--  -->
    <Tooltips />
    <!--  -->
  </head>
  <body>
    <!--  -->
    <TransitionOverlay speed={1000} color='red' zIndex={99} />
    <!--  -->
    <Prefetch max={3} />
    <!--  -->

    <slot></slot>
  </body>
</html>
