/* Base colors */

$fiery-rose: hsl(355, 87%, 66%);
$lavender-blush: hsl(351, 44%, 94%);
$raisin-black: hsl(336, 17%, 11%);
$rosewood: hsl(359, 100%, 18%);
$red-pigment: hsl(0, 87%, 57%);

/* Variations */
