.links-tree {
  direction: rtl;

  & > * {
    direction: initial;
  }

  text-align: left;
  @include breakpoint(md) {
    text-align: right;
  }

  @include theme(default, $scoped: true) {
    font-size: 90%;
  }
}

.link {
  display: inline-block;
  width: 100%;
  padding: 0.75em 1rem 0.75em 1rem;
  line-height: 115%;
  @include breakpoint(md) {
    padding: 0.75em 2rem 0.75em 3rem;
  }

  @include theme(default, $scoped: true) {
    text-decoration: none;
    border-bottom: 1px dotted color.adjust($fiery-rose, $alpha: -0.6);
  }

  @include theme(default, light, $scoped: true) {
    color: color.adjust($fiery-rose, $lightness: -50%);
    text-shadow: 0.06em 0.06em 0.1rem color.adjust($fiery-rose, $alpha: -0.8);

    &:hover {
      color: color.adjust($fiery-rose, $lightness: -30%);
      background-color: color.adjust($lavender-blush, $lightness: -1%);
    }
  }
  @include theme(default, dark, $scoped: true) {
    color: color.adjust($fiery-rose, $lightness: 25%);
    text-shadow: 0.07em 0.07em 0.1rem
      color.adjust($raisin-black, $lightness: -10%);

    &:hover {
      color: color.adjust($fiery-rose, $lightness: -1%);
      background-color: color.adjust($raisin-black, $lightness: 1%);
    }
  }

  .depth-1 & {
    font-size: 115%;
    font-weight: 700;
    font-variant: small-caps;
    border-right: 4px solid color.adjust($red-pigment, $alpha: -0.6);
    border-bottom: 1px solid color.adjust($red-pigment, $alpha: -0.8);

    &::after {
      content: '  —';
    }
  }

  .depth-2 & {
    font-size: 95%;
    font-weight: 700;
    background-color: color.adjust($red-pigment, $alpha: -0.97);
    border-right: 1px solid color.adjust($red-pigment, $alpha: -0.7);
    border-bottom: 1px dotted color.adjust($red-pigment, $alpha: -0.8);

    &::after {
      content: '  •';
    }
  }

  .depth-3 & {
    font-size: 85%;
    font-weight: 400;
    border-right: 1px dotted color.adjust($red-pigment, $alpha: -0.8);
    border-bottom: 1px dotted color.adjust($red-pigment, $alpha: -0.8);

    &::after {
      content: '  -';
    }
  }

  .depth-4 & {
    font-size: 75%;
    font-weight: 300;
    border-right: 1px dotted color.adjust($red-pigment, $alpha: -0.8);
    border-bottom: 1px dotted color.adjust($red-pigment, $alpha: -0.8);

    &::after {
      content: '  ·';
    }
  }

  @include theme(default) {
    display: inline-block;
    padding: 1.5rem 1rem 0.5rem 1rem;
    font-weight: 700;
    color: $rosewood;
    text-decoration: none;

    &:hover {
      color: $red-pigment;
    }
  }
  @include theme(default, light) {
  }
  @include theme(default, dark) {
  }
  @include theme(hacker) {
  }
}
