.my-parent-with-custom-links {
  & :global(.link) {
    font-weight: 700;
    color: green;
  }

  & :global(.link.is-tel) {
    background: yellow;
  }

  & :global(.link.is-mail) {
    color: red;
  }
}
