---
import Document from '@julian_cataldo/astro-base/Document.astro';
import Body from '@julian_cataldo/astro-base/Body.astro';
---

<Document redirectTo={'/components'}>
  <Body slot='body'><div>Redirecting to "components"…</div></Body>
</Document>
