---
import Layout from 'src/layouts/Default/Default.astro';
import ComponentList from 'src/modules/ComponentList/ComponentList.astro';
import PageNavigation from 'src/components/PageNavigation/PageNavigation.astro';

import loadPackages from 'src/packages-loader';

const packages = await loadPackages({
  pJsons: await Astro.glob('../../../{app,components}/{*/,*/*/}package.json'),
  readmes: await Astro.glob(
    '/content/packages/{app,components}/{*/,*/*/}README.md',
  ),
  changelogs: await Astro.glob(
    '/content/packages/{app,components}/{*/,*/*/}CHANGELOG.md',
  ),
  anchorMode: false,
});

const titles = {
  main: 'Components collection',
  sub: 'Common web patterns, building blocks…',
};

const tableOfContentHeaders = packages.map((e) => e.readme.mainTitle);
---

<Layout titles={titles}>
  <div class='main-content'>
    <PageNavigation
      title='Components'
      links={tableOfContentHeaders}
      anchorMode={true}
    />

    <div class='content'>
      <ComponentList packages={packages} />
    </div>
  </div>
</Layout>
