---
import Layout from 'src/layouts/Default/Default.astro';
import ComponentList from 'src/modules/ComponentList/ComponentList.astro';
import LinksTree from 'src/components/LinksTree/LinksTree.astro';

import { structureAllPackages } from 'src/packages-loader';

const packages = await structureAllPackages(
  await Astro.glob('../../../{app,components}/{*/,*/*/}package.json'),
  await Astro.glob('/content/packages/{app,components}/{*/,*/*/}README.md'),
);

const titles = {
  main: 'Components collection',
  sub: 'Common web patterns, building blocks…',
};

const tableOfContentHeaders = packages.map((e) => e.readme.mainTitle);
---

<Layout titles={titles}>
  <div class='main-content'>
    <div class='navigation'>
      <h1>Components</h1>
      <LinksTree links={tableOfContentHeaders} anchorMode={true} />
    </div>

    <div class='content'>
      <ComponentList packages={packages} />
    </div>
  </div>
</Layout>
