---
import Layout from 'src/layouts/Default/Default.astro';
import PageNavigation from 'src/components/PageNavigation/PageNavigation.astro';

import { structureAllPackages } from 'src/packages-loader';

const configPackage = (
  await structureAllPackages({
    pJsons: await Astro.glob('../../../configs/package.json'),
    readmes: await Astro.glob('/content/packages/configs/README.md'),
    changelogs: await Astro.glob(
      '/content/packages/{app,components}/{*/,*/*/}CHANGELOG.md',
    ),
    anchorMode: false,
  })
).pop();

const titles = {
  main: 'Developers tools',
  sub: "Serious tooling for serious dev's",
};
---

<Layout titles={titles}>
  <article class='main-content'>
    <PageNavigation
      title='Tooling'
      links={configPackage.readme.headers}
      anchorMode={true}
    />

    <div class='content article'>
      <div class='wrapper article-body'>
        <configPackage.readme.Content />
      </div>
    </div>
  </article>
</Layout>
