---
import MediaMap from '@julian_cataldo/astro-media-map/MediaMap.astro';
import Link from '@julian_cataldo/astro-link/Link.astro';

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import LongText from '../components/LongText.astro';
import Image from '../components/Image.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <h1>Welcome to <span class='text-gradient'>Astro</span></h1>
    <!-- <p class="instructions">
			Check out the <code>src/pages</code> directory to get started.<br/>
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p> -->
    <a href='#' title='Hello!' data-tooltip-placement='left'>Tooltip left</a>
    <ul role='list' class='link-card-grid'>
      <Card href='/page-a' title='Page A' body='Go to page A' />
      <Card href='/page-b' title='Page B' body='Go to page B' />
      <Card href='/page-c' title='Page C' body='Go to page C' />
      <Card href='/page-d' title='Page D' body='Go to page D' />
      <!-- <Card href="https://docs.astro.build/" title="Documentation" body="Learn how Astro works and explore the official API docs." />  -->
      <!-- <Card href="https://astro.build/integrations/" title="Integrations" body="Supercharge your project with new frameworks and libraries." />  -->
      <!-- <Card href="https://astro.build/themes/" title="Themes" body="Explore a galaxy of community-built starter themes." />  -->
      <!-- <Card href="https://astro.build/chat/" title="Chat" body="Come say hi to our amazing Discord community. ❤️" /> -->
    </ul>
    <a href='#' title='Hello!' data-tooltip-placement='bottom'>
      Tooltip bottom
    </a>
    <hr />
    <br />

    <h2>Breakpoints</h2>
    <div>Current : <em class='current-breakpoint'></em></div>

    <h2>Links</h2>
    <ul>
      <li>
        <Link href='/page-a' title='Hello!'>
          Some <strong>internal</strong> link
        </Link>
      </li>
      <li>
        <Link href='https://www.juliancataldo.com' title='Hello!'>
          Some <strong>external</strong> link, loaded in a new tab
        </Link>
      </li>
      <li>
        <Link
          href='https://www.juliancataldo.com'
          title='Hello!'
          externalInNewTab={false}
        >
          Some <strong>external</strong> link, loaded in current tab
        </Link>
      </li>
      <li>
        <Link href='mailto:john.smith@bigcorp.biz' title='Hello!'>
          Some <strong>mail</strong> link (email, telephone)
        </Link>
      </li>
      <li>
        <Link href='tel:8989898989' title='Hello!'>
          Some <strong>telephone</strong> link (email, telephone)
        </Link>
      </li>
    </ul>

    <div class='map-demo'>
      <MediaMap
        x={43.389636}
        y={5.3964332}
        z={11}
        width={'25rem'}
        height={'25rem'}
        attribution={true}
      />
    </div>

    <div class='some-wrapper' data-lightbox='true'>
      <Image />
    </div>

    <LongText />
    <LongText />
    <LongText />
    <LongText />
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .long-text {
    width: 31rem;
  }

  .map-demo {
    margin: 4rem 2rem;
  }
</style>
