---
import Layout from 'src/layouts/Default/Default.astro';
import PageNavigation from 'src/components/PageNavigation/PageNavigation.astro';

import { structureAllPackages } from 'src/packages-loader';

const rootPackage = (
  await structureAllPackages({
    pJsons: await Astro.glob('../../../package.json'),

    readmes: await Astro.glob('/content/packages/README.md'),

    changelogs: await Astro.glob(
      '/content/packages/{app,components}/{*/,*/*/}CHANGELOG.md',
    ),
    anchorMode: false,
  })
).pop();

const titles = {
  main: "Julian's Web Garden",
  sub: rootPackage.pJson.description,
};

const actions = [
  {
    title: 'Repository',
    href: 'https://github.com/JulianCataldo/astro',
    icon: 'mdi:github',
  },
  {
    title: 'Documentation',
    href: '#julians-web-garden',
    icon: 'system-uicons:book-text',
  },
];
---

<Layout titles={titles} actions={actions}>
  <article class='main-content'>
    <PageNavigation
      title='Web garden'
      links={rootPackage.readme.headers}
      anchorMode={false}
    />

    <div class='content article'>
      <div class='wrapper article-body'>
        <rootPackage.readme.Content />
      </div>
    </div>
  </article>
</Layout>
