---
import Layout from 'src/layouts/Default/Default.astro';
import LinksTree from 'src/components/LinksTree/LinksTree.astro';

import { structureAllPackages } from 'src/packages-loader';

const rootPackage = (
  await structureAllPackages(
    await Astro.glob('../../../package.json'),
    await Astro.glob('../../../README.md'),
  )
).pop();

const titles = {
  main: "Julian's Web Garden",
  sub: rootPackage.pJson.description,
};

const actions = [
  {
    title: 'Repository',
    href: 'https://github.com/JulianCataldo/astro',
    icon: 'mdi:github',
  },
  {
    title: 'Documentation',
    href: '#julians-web-garden',
    icon: 'system-uicons:book-text',
  },
];
---

<Layout titles={titles} actions={actions}>
  <article class='main-content'>
    <div class='navigation'>
      <h1>Web garden</h1>
      <LinksTree links={rootPackage.readme.headers} anchorMode={true} />
    </div>

    <div class='content article'>
      <div class='wrapper article-body'>
        <rootPackage.readme.Content />
      </div>
    </div>
  </article>
</Layout>
