---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <h1>PAGE A</h1>
    <Card href='/' title='ðŸšÂ Â HOME' body='Back to ðŸšÂ Â HOME' />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
