.article-body {
  /* Hide Git repo README toc */
  .git-toc,
  .git-footer {
    display: none;
  }

  & :first-child {
    margin-top: 0;
  }

  // & :last-child {
  //   margin-bottom: 0;
  // }

  & *:is(h1, h2, h3, h4, h5) {
    margin: 3rem 0;
  }

  h1 {
    font-size: 175%;
  }

  p {
    margin: 1rem;
  }

  pre {
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 2rem 0;
    font-size: 95%;

    @include theme(default, light) {
      box-shadow: 0.06em 0.06em 0.5rem
        color.adjust($raisin-black, $lightness: -20%, $alpha: -0.5);
    }
    @include theme(default, dark) {
      box-shadow: 0.07em 0.07em 0.5rem
        color.adjust($raisin-black, $lightness: -20%, $alpha: -0.5);
    }
  }

  :not(pre) > code {
    display: inline-block;
    border-radius: 0.25em;
    font-size: calc(100% - 0.2em);
    padding: 0.15em 0.5em 0.1em 0.5em;

    @include theme(default, light) {
      color: $raisin-black;
      background-color: color.adjust($lavender-blush, $lightness: -3%);
      box-shadow: 0.03em 0.03em 0.3em color.adjust($raisin-black, $alpha: -0.7)
        inset;
    }
    @include theme(default, dark) {
      color: $lavender-blush;
      background-color: color.adjust($raisin-black, $lightness: 3%);
      box-shadow: 0.03em 0.03em 0.3em
        color.adjust($lavender-blush, $alpha: -0.7) inset;
    }
  }

  blockquote {
    margin: 2.5rem 0;
    padding: 1rem;
    background-color: color.adjust($fiery-rose, $alpha: -0.9);
    border-radius: 0.25rem;

    p:first-of-type {
      margin-top: 0.45rem;
    }

    p:last-of-type {
      margin-bottom: 0.65rem;
    }

    strong:first-of-type {
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid color.adjust($rosewood, $alpha: -0.8);
      padding-bottom: 0.2rem;
      margin-bottom: 1rem;

      @include theme(default, light) {
        color: $rosewood;
      }
      @include theme(default, dark) {
        color: color.adjust($fiery-rose, $lightness: 4%);
      }

      &::before {
        content: "🗒  ";
      }
    }
  }

  ul {
    margin: 1em;
    padding: 1em;

    li {
      margin: 1em 0;
      list-style-type: none;
      position: relative;

      &::before {
        left: -2.75em;
        top: 0em;
        position: absolute;
        padding: 0 1em;
        font-size: 1em;
        content: "\27B2";

        @include theme(default, light) {
          color: $rosewood;
        }
        @include theme(default, dark) {
          color: color.adjust($fiery-rose, $lightness: 2%);
        }
      }

      ul {
        margin: 0 0.4em;
        padding: 0 0.4em;

        li {
          &::before {
            content: "\27A5";
          }
        }
      }
    }
  }

  .button {
    margin: 1rem 0;
  }
}
