.back-to-top {
  display: inline-flex;
  height: 1em;
  align-items: center;

  .icon {
    margin-right: 0.5rem;
  }
}

.back-to-top-float {
  position: fixed;
  right: 0rem;
  bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem 1rem 0rem 1rem;
  transition: opacity 0.21s, transform 0.21s;
  transition-delay: 0s;
  @include breakpoint(md) {
    bottom: 9rem;
  }

  @include scroll-is($bottom: true, $top: true, $going-up: false) {
    opacity: 0;
    transform: translateX(100%);
    transition-delay: 0.2s;
  }

  @include theme(default) {
    padding: 0.5rem;
  }
  @include theme(default, light) {
    box-shadow: -2px 2px 4px color.adjust($rosewood, $alpha: -0.9);

    &,
    .link {
      color: color.adjust($rosewood, $alpha: -0.2);
    }

    background-color: color.adjust(
      $lavender-blush,
      $lightness: 4%,
      $alpha: -0.3
    );

    &:hover {
      background-color: color.adjust(
        $lavender-blush,
        $lightness: -8%,
        $alpha: -0.3
      );
    }
  }
  @include theme(default, dark) {
    box-shadow: -2px 2px 4px color.adjust($lavender-blush, $alpha: -0.85);

    &,
    .link {
      color: color.adjust($lavender-blush, $lightness: 2%, $alpha: -0.1);
    }

    background-color: color.adjust(
      $raisin-black,
      $lightness: -7%,
      $alpha: -0.3
    );

    &:hover {
      background-color: color.adjust(
        $raisin-black,
        $lightness: 12%,
        $alpha: -0.3
      );
    }
  }
}
