@import "@julian_cataldo/astro-resets/styles";
/* —————————————————————————————————————————————————————————————————————————— */
@import "src/themes/a11y";
@import "src/themes/default";
// @import 'src/themes/hacker';
/* —————————————————————————————————————————————————————————————————————————— */
@import "./article-body";
@import "./body-background";
@import "./content-navigation";
@import "./back-to-top";
@import "./footer";
/* —————————————————————————————————————————————————————————————————————————— */

.main-content {
  margin-top: -2rem;
  isolation: isolate;
  width: 100vw;
  max-width: 100%;

  @include breakpoint(lg) {
    width: initial;
    max-width: initial;
    display: flex;
    flex-wrap: wrap;
  }
}

.main-content > .article,
.main-content > .content {
  @include breakpoint(lg) {
    width: 70%;
    flex-grow: 1;
    min-width: 35rem;
  }

  .wrapper {
    max-width: 100%;
    @include breakpoint(lg) {
      margin: 0 auto;
      max-width: 53em;
    }
  }
}

.main-content > .navigation {
  max-width: 24rem;

  @include breakpoint(md) {
    max-width: 28rem;
  }

  @include breakpoint(lg) {
    width: calc(30% - 4vw);
    max-width: 28rem;
  }
}

.main-content > .content {
  margin: 0 0;
  max-width: 100%;

  @include breakpoint(lg) {
    max-width: initial;
  }

  @include breakpoint(md) {
    margin: 0 2vw;
  }

  &.article > .wrapper.article-body,
  .package-section,
  .package {
    padding: 5vw;
    @include breakpoint(lg) {
      padding: 2em;
    }
  }

  .package,
  .package-section {
    margin: 2rem 0;
    @include breakpoint(lg) {
      margin: 2vw 0;
    }

    &:first-child {
      margin-top: 0rem;
    }

    &:last-child {
      margin-bottom: 0rem;
    }
  }
}

/* —————————————————————————————————————————————————————————————————————————— */

body {
  @include theme(default, light) {
    --app-overlay-color: #{color.adjust(
        $lavender-blush,
        $lightness: - 7%,
        $saturation: - 17%
      )};
  }
  @include theme(default, dark) {
    --app-overlay-color: #{$raisin-black};
  }
}

/* —————————————————————————————————————————————————————————————————————————— */

input[type="checkbox"] {
  all: unset;
  width: 0.7em;
  height: 0.7em;
  display: inline-block;
  margin: 0 0.5em;
  margin-bottom: -0.14em;
  border-radius: 0.15em;

  @include theme(default, light) {
    border: 0.15em solid
      color.adjust($rosewood, $lightness: 40%, $saturation: -50%);

    &:checked {
      background: color.adjust($rosewood, $lightness: 47%, $saturation: -60%);
      border: 0.15em solid color.adjust($lavender-blush, $alpha: -0.1);
      box-shadow: 0px 0px 0.15em color.adjust($rosewood, $lightness: 50%);
    }
  }
  @include theme(default, dark) {
    border: 0.15em solid
      color.adjust($rosewood, $lightness: 40%, $saturation: -50%);

    &:checked {
      background: color.adjust($rosewood, $lightness: 30%, $saturation: -60%);
      border: 0.15em solid color.adjust($raisin-black, $alpha: -0.1);
      box-shadow: 0px 0px 0.15em color.adjust($rosewood, $lightness: 50%);
    }
  }
}

/* —————————————————————————————————————————————————————————————————————————— */
