.main-footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 2px -2px 10px color.adjust($lavender-blush, $alpha: -0.8);

  & > * {
    margin: 0.5rem 2vw;
    @include breakpoint(md) {
      margin: 0 2rem;
    }
  }

  .link {
    text-decoration: none;
  }

  @include theme(default) {
    align-items: center;
    justify-content: flex-end;
    padding: calc(1vw + 1vh);
    margin-top: calc(5vw + 5vh);
  }
  @include theme(default, light) {
    &,
    .link {
      color: $lavender-blush;
    }

    .link {
      color: $fiery-rose;

      &:hover {
        color: $lavender-blush;
      }
    }

    background-color: color.adjust($raisin-black, $alpha: -0.2);
  }
  @include theme(default, dark) {
    &,
    .link {
      color: $lavender-blush;
    }

    .link {
      color: color.adjust($fiery-rose, $lightness: 5%);

      &:hover {
        color: $fiery-rose;
      }
    }

    background-color: color.adjust($raisin-black, $alpha: -0.2);
  }
}
