.sun {
  @include theme(default, dark, $scoped: true) {
    display: initial;
  }
  @include theme(default, light, $scoped: true) {
    display: none;
  }
}

.moon {
  @include theme(default, dark, $scoped: true) {
    display: none;
  }
  @include theme(default, light, $scoped: true) {
    display: initial;
  }
}
