---
import Icon from 'astro-icon';
---

<div
  data-color-mode-switch
  class="button"
  role="button"
  tabindex={0}
  aria-label="Switch interface color mode"
>
  <Icon name="system-uicons:sun" class="icon sun" aria-hidden="true" size="2rem"
  />
  <Icon
    name="system-uicons:moon"
    class="icon moon"
    aria-hidden="true"
    size="2rem"
  />
  <span class="nav-text" aria-hidden="true">Mode</span>
</div>

<style lang="scss">
  @import './ColorModeSwitcher.scss';
</style>
