---
// FIXME: random typings detection for `headless-mermaid`
import type mermaidAPI from 'mermaid/mermaidAPI';
/* ·········································································· */
import renderDiagram from './render-diagram';
import cache, { generateHash } from './cache';
/* —————————————————————————————————————————————————————————————————————————— */
import type { Props as baseProps } from './Props';

export interface Props extends baseProps {}
const props = { ...Astro.props } as Props;
export type Config = mermaidAPI.Config;
/* ———————————————————————————————————————————— Typeguards + Fallbacks —————— */
if (typeof props.config !== 'object') props.config = {};
if (typeof props.code !== 'string') props.code = '';
/* —————————————————————————————————————————————————————————————————————————— */

const uniqueKey = generateHash([props.code, props.config]);

if (cache[uniqueKey] === undefined) {
  /* Render the mermaid diagram */
  const result: string | false = await renderDiagram({
    code: props.code,
    config: props.config,
  });
  if (result) {
    /* Store diagram data to cache */
    cache[uniqueKey] = result;
  }
}
---

{
  cache[uniqueKey] && (
    <div class="mermaid-diagram">
      <Fragment set:html={cache[uniqueKey]} data-test="mermaid" />
    </div>
  )
}

<style>
  .mermaid-diagram {
    /* Necessary to avoid pixelated font rendering on macOS/Chrome, why? */
    /* Also, why this looks awful on Safari with every settings tested? */
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    /* Necessary for Safari, which doesn't make the SVG full width, why? */
    display: flex;
    justify-content: center;
    width: 100%;
  }
</style>
