.navigation-bar {
  position: fixed;
  z-index: 101;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(0.5vh + 0.1rem) 2vw 0 2vw;
  user-select: none;

  .spacer {
    flex-grow: 1;
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;

    li {
      margin: 0.25rem 1.5vw;

      &:first-of-type() {
        margin: 0.25rem 1.5vw 0.25rem 0;
      }

      &:last-of-type() {
        margin: 0.25rem 0 0.25rem 1.5vw;
      }
    }
  }

  /* ———————————————————————————————————————————————————————————————————————— */
}

.menu-button {
  :global(.js) & {
    transition: opacity 0.23s, transform 0.23s;
    opacity: 0;
    transform: translateY(-100%);

    &:nth-of-type(1) {
      transition-delay: 0s;
    }

    &:nth-of-type(2) {
      transition-delay: 0.05s;
    }

    &:nth-of-type(3) {
      transition-delay: 0.1s;
    }
  }

  :global([data-is-top="true"]) &,
  :global([data-is-bottom="true"]) &,
  :global([data-is-scrolling-up="true"]) & {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.33s, transform 0.33s;

    &:nth-of-type(1) {
      transition-delay: 0.1s;
    }

    &:nth-of-type(2) {
      transition-delay: 0.05s;
    }

    &:nth-of-type(3) {
      transition-delay: 0s;
    }
  }
}

.search {
  display: flex;
  align-items: center;
}

// .nav-text {
//   padding-top: 0.17rem;
// }
