---
import ColorModeSwitcher from '../ColorModeSwitcher/ColorModeSwitcher.astro';
---

<div class="demo-color-mode">
  <ColorModeSwitcher />

  <div>
    <hr />
    <strong>↑&nbsp;Click me!</strong>
  </div>
</div>

<style lang="scss">
  .demo-color-mode {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
</style>
