---
import LicensesReport from '@julian_cataldo/astro-licenses-report/LicensesReport.astro';

// import MyLicensesReport from '../Polymorph/MyLicensesReport/MyLicensesReport.astro';
---

<div class='demo-wrapper'>
  <p>
    Comes unstyled.
    <br />
    This component is easily stylable, and fully accessible.
  </p>

  <hr />
  <span>
    Dependencies of the current website you are visiting (depth is set to 1):
  </span>

  <div class='table-wrapper'>
    <LicensesReport
      useDev={true}
      depth={1}
      nameText={'Nom'}
      authorText={'Auteur'}
      licenseText={'License'}
      linkText={'URL'}
      data-testid='licenses-report'
      class='licenses-report'
    />
  </div>
</div>

<style lang='scss'>
  .table-wrapper {
    max-width: calc(100vw - 50rem);
    overflow-y: scroll;
    overflow-x: auto;
    max-height: 40vh;

    margin-top: 3rem;

    .licenses-report {
      .tr {
        display: flex;
      }

      .td,
      .th {
        word-break: break-all;
        overflow: hidden;

        padding: 0.3334em;

        &:nth-child(1) {
          width: 23%;
        }

        &:nth-child(2) {
          width: 23%;
        }

        &:nth-child(3) {
          width: 9%;
        }

        &:nth-child(4) {
          width: 45%;
        }
      }
    }
  }
</style>
