---
// Silence is _
---

<ul>
  <li>
    <a href='#' title='Hello!' data-tooltip-placement='left'>
      Tooltip left, hover me!
    </a>
  </li>
  <li>
    <a href='#' title='Hello!' data-tooltip-placement='bottom'>
      Tooltip bottom, hover me!
    </a>
  </li>
</ul>

<hr />
<br />
