---
import Link from '@julian_cataldo/astro-link/Link.astro';
---

<ul>
  <li>
    <Link data-tooltip-placement="right" href="/page-a" title="Internal route…">
      Some <strong>internal</strong> website page link
    </Link>
  </li>
  <li>
    <Link
      data-tooltip-placement="right"
      href="https://www.juliancataldo.com"
      title="External, bye…"
    >
      Some <strong>external</strong> link, loaded in a new tab, SEO optimized
    </Link>
  </li>
  <li>
    <Link
      data-tooltip-placement="right"
      href="https://www.juliancataldo.com"
      title="External, in this window"
      externalInNewTab={false}
    >
      Some <strong>external</strong> link, loaded in current tab, SEO optimized
    </Link>
  </li>
  <li>
    <Link
      data-tooltip-placement="right"
      href="mailto:john.smith@bigcorp.biz"
      title="Contact me!"
    >
      Some JS-obfuscated <strong>mail</strong> link
    </Link>
  </li>
  <li>
    <Link
      data-tooltip-placement="right"
      href="tel:8989898989"
      title="Phone me!"
    >
      Some JS-obfuscated <strong>telephone</strong> link
    </Link>
  </li>
</ul>
