---
import LicensesReport from '@julian_cataldo/astro-licenses-report/LicensesReport.astro';

// import MyLicensesReport from '../Polymorph/MyLicensesReport/MyLicensesReport.astro';
---

<div class='demo-wrapper'>
  <p>
    Comes unstyled.
    <br />
    This component is easily stylable, and fully accessible.
  </p>

  <hr />
  <span>
    Dependencies of the current website you are visiting (depth is set to 1):
  </span>

  <div class='licenses-report'>
    <LicensesReport
      useDev={true}
      depth={1}
      nameText={'Nom'}
      authorText={'Auteur'}
      licenseText={'License'}
      linkText={'URL'}
      data-testid='licenses-report'
    />
  </div>
</div>
