---
// _
---

<label> Check to keep informations afloat</label>
<br />
<input type='checkbox' class='toggle' />
<div class='demo-scroll-observer'>
  <em>Scroll viewport!</em>
  <hr />
  <div>
    Current : <strong class='current-scroll-position'>ℹ️&nbsp;&nbsp;</strong>
  </div>
</div>

<!-- 
<style lang='scss'>
  @import './astro-scroll-observer.scss';
</style> -->
