---
import { GeoMap } from 'astro-geo-map';
---

<div class="demo-media-map">
  <GeoMap
    x={43.389636 /* Required */}
    y={5.3964332 /* Required */}
    z={11}
    height={'25rem' /* Required */}
    width={'25rem'}
    attribution={true}
    aria-label="Demonstration for geographic map embed"
  />

  <GeoMap
    x={13.389636 /* Required */}
    y={5.3964332 /* Required */}
    z={11}
    height={'25rem' /* Required */}
    width={'12.5rem'}
    attribution={false}
    aria-label="Demonstration for geographic map embed"
  />

  <GeoMap
    x={63.389636 /* Required */}
    y={15.3964332 /* Required */}
    z={5}
    height={'25rem' /* Required */}
    width={'12.5rem'}
    attribution={false}
    aria-label="Demonstration for geographic map embed"
  />

  <GeoMap
    x={50.389636 /* Required */}
    y={5.3964332 /* Required */}
    z={4}
    height={'25rem' /* Required */}
    width={'12.5rem'}
    attribution={false}
    aria-label="Demonstration for geographic map embed"
  />
</div>

<hr />

<p>
  You can extend this HTML element with generic attributes like <code>
    aria-label
  </code>…
</p>

<style lang="scss" is:global>
  .demo-media-map {
    background: lightgrey;
    display: flex;
    justify-content: space-between;
  }
</style>
