---
// import AstroBreakpoints from './astro-breakpoints.astro';
import AstroLicensesReport from './astro-licenses-report.astro';
import AstroLink from './astro-link.astro';
import AstroMediaMap from './astro-media-map.astro';
import AstroPrefetch from './astro-prefetch.astro';
// import AstroScrollObserver from './astro-scroll-observer.astro';
import AstroTooltips from './astro-tooltips.astro';
import AstroColorMode from './astro-color-mode.astro';

export interface Props {
  name: string;
}
const props = Astro.props as Props;
/* ———————————————————————————————————————————— Typeguards + Fallbacks —————— */
if (typeof props.name !== 'string') {
  props.name = null;
}
---

{() => {
  switch (props.name) {
    // case 'astro-breakpoints':
    //   return <AstroBreakpoints />
    case 'astro-licenses-report':
      return <AstroLicensesReport />
    case 'astro-link':
      return <AstroLink />
    case 'astro-media-map':
      return <AstroMediaMap />
    case 'astro-prefetch':
      return <AstroPrefetch />
    // case 'astro-scroll-observer':
    //   return <AstroScrollObserver />
    case 'astro-tooltips':
      return <AstroTooltips />
    case 'astro-color-mode':
      return <AstroColorMode />
    default:
      return <div><!-- No demo --></div>
  }
}}
