---
// import AstroBreakpoints from './astro-breakpoints.astro';
import AstroLicensesReport from './astro-licenses-report.astro';
import AstroLink from './astro-link.astro';
import AstroGeoMap from './astro-geo-map.astro';
import AstroHoverPrefetch from './astro-hover-prefetch.astro';
// import AstroScrollObserver from './astro-scroll-observer.astro';
import AstroTooltips from './astro-tooltips.astro';
import AstroTerminalPlayer from './astro-terminal-player.astro';
import AstroColorMode from './astro-color-mode.astro';
import AstroDiagram from './astro-diagram.astro';
import AstroTabs from './astro-tabs.astro';

export interface Props {
  name: string;
}
const props = Astro.props as Props;
/* ———————————————————————————————————————————— Typeguards + Fallbacks —————— */
if (typeof props.name !== 'string') {
  props.name = null;
}
---

{() => {
  switch (props.name) {
    // case 'astro-breakpoints':
    //   return <AstroBreakpoints />
    case 'astro-licenses-report':
      return <AstroLicensesReport />
    case 'astro-diagram':
      return <AstroDiagram />
    case 'astro-link':
      return <AstroLink />
    case 'astro-media-map':
      return <AstroGeoMap />
    case 'astro-hover-prefetch':
      return <AstroHoverPrefetch />
    case 'astro-terminal-player':
      return <AstroTerminalPlayer />
    case 'astro-tabs':
      return <AstroTabs />
    // case 'astro-scroll-observer':
    //   return <AstroScrollObserver />
    case 'astro-tooltips':
      return <AstroTooltips />
    case 'astro-color-mode':
      return <AstroColorMode />
    default:
      return <div><!-- No demo --></div>
  }
}}
