---
// _
---

ℹ️&nbsp;&nbsp;<em>Resize window!</em>
<div>
  Current : <strong><em class='current-breakpoint'></em></strong>
</div>
<textarea id='bp-output'></textarea>

<!-- <style lang='scss'>
  @import './astro-breakpoints.scss';
</style> -->

<script>
  // import './astro-breakpoints.ts';
</script>
