/* ——————————————————————————— Box 1 ————————————————————————— */
.content > .table-of-contents,
.main-content > .article > .wrapper.article-body,
.main-content .package-section,
.content > .package {
  // color: $raisin-black;
  border-radius: 1rem;

  @include theme(default, light) {
    background: color.adjust($lavender-blush, $lightness: 2%);
    border: 4px solid color.adjust($lavender-blush, $lightness: -30%);
    box-shadow: 4px 4px 10px color.adjust($red-pigment, $alpha: -0.5);
  }

  @include theme(default, dark) {
    // color: $lavender-blush;
    background: color.adjust($raisin-black, $lightness: 4%, $saturation: 2%);
    border: 4px solid color.adjust($raisin-black, $lightness: -5%);
    box-shadow: 4px 4px 10px color.adjust($lavender-blush, $alpha: -0.8);
  }
}
