.hero-wrapper {
  position: relative;
  z-index: 3;
  // height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    color.adjust(hsl(218, 74%, 27%), $lightness: -25%),
    color.adjust(hsl(218, 74%, 27%), $lightness: -15%) 15rem,
    color.adjust(hsl(218, 74%, 27%), $lightness: -12%)
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    color.adjust(white, $alpha: 0) 0%,
    color.adjust(white, $alpha: 0) calc(100% - 12rem),
    color.adjust(white, $alpha: -1) 100%
  );
  padding-top: calc(15rem - 12vw);
  padding-bottom: 10rem;
  // margin-bottom: -24rem;

  & + * {
    margin-top: -35vh;
  }

  @include breakpoint(md) {
    max-width: calc(10vw + 33rem);
    padding-top: 0;
    padding-bottom: 0;
    background: none;
    -webkit-mask-image: none;

    & + * {
      margin-top: inherit;
    }

    padding-top: 0;
    top: 0;
    position: absolute;
    // top: 100%;
    // top: 20%;
    // left: 0;
    left: 13%;
    //   top: calc(6rem + 6vw);
    //   // left: calc(100% - 75vw - 5rem);

    height: 100vh;
    min-height: 52rem;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  // visibility: hidden;
}

.hero {
  position: relative;

  @include breakpoint(md) {
    top: -3rem;
  }
  // // margin-top: calc(6rem + 65vh);
  // // top: 0;
  // top: calc((100vw / (16 / 9)) + 6vw);

  // margin-top: 14rem;

  // z-index: 2;
  // outline: 5px solid cyan;
  /* ———————————————————————————————————————————————————————————————————————— */

  padding: 1rem 1.25rem 1rem 1.25rem;
  @include breakpoint(md) {
    padding: 2rem 4rem 2rem 3rem;
  }

  h1 {
    font-weight: 800;
    @include font-color-light;
  }
  @include font-color-light;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: skewX(4deg);
    background-color: color.adjust($rosewood, $lightness: -12%, $alpha: -0.3);
    box-shadow: 3px 3px 10px
      color.adjust(hsl(218, 74%, 27%), $lightness: -12%, $alpha: -0.5);
    border-radius: 0.5rem;
  }

  p {
    margin: 2rem 0 0 0;
  }

  .description {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .actions {
    margin-top: 1.25rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;

    & > * {
      margin: 0.8rem 0.8rem;

      @include breakpoint(md) {
        &:first-child {
          margin: 0 1rem 0 0;
        }

        &:last-child {
          margin: 0 0 0 1rem;
        }
      }
    }
  }
}
