.hero-wrapper {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: calc(15rem - 12vw);
  padding-bottom: 10rem;
  background: linear-gradient(
    to bottom,
    color.adjust(hsl(218, 74%, 27%), $lightness: -25%),
    color.adjust(hsl(218, 74%, 27%), $lightness: -15%) 15rem,
    color.adjust(hsl(218, 74%, 27%), $lightness: -12%)
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    color.adjust(white, $alpha: 0) 0%,
    color.adjust(white, $alpha: 0) calc(100% - 12rem),
    color.adjust(white, $alpha: -1) 100%
  );

  & + * {
    margin-top: -35vh;
  }

  @include breakpoint(md) {
    position: absolute;
    top: 0;
    left: 13%;
    max-width: calc(10vw + 33rem);
    height: 100vh;
    min-height: 52rem;
    padding-top: 0;
    padding-bottom: 0;
    background: none;
    -webkit-mask-image: none;

    & + * {
      margin-top: inherit;
    }
  }
}

.hero {
  position: relative;

  @include breakpoint(md) {
    top: -3rem;
  }
  /* ———————————————————————————————————————————————————————————————————————— */

  padding: 1rem 1.25rem 1rem 1.25rem;
  @include breakpoint(md) {
    padding: 2rem 4rem 2rem 3rem;
  }

  .title {
    font-weight: 800;
    @include font-color-light;
  }
  @include font-color-light;

  &::before {
    position: absolute;
    inset: 0;
    z-index: -1;
    content: '';
    background-color: color.adjust($rosewood, $lightness: -12%, $alpha: -0.3);
    border-radius: 0.5rem;
    box-shadow: 3px 3px 10px
      color.adjust(hsl(218, 74%, 27%), $lightness: -12%, $alpha: -0.5);
    transform: skewX(4deg);
  }

  p {
    margin: 2rem 0 0 0;
  }

  .description {
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1.25rem;

    & > * {
      margin: 0.8rem 0.8rem;

      @include breakpoint(md) {
        &:first-child {
          margin: 0 1rem 0 0;
        }

        &:last-child {
          margin: 0 0 0 1rem;
        }
      }
    }
  }
}
