.hero-wrapper {
  position: relative;
  // top: calc(15rem - 17vw);
  z-index: 3;
  max-width: calc(10vw + 33rem);
  height: 100%;
  width: 100%;

  @include breakpoint(md) {
    top: 0;
    position: absolute;
    // top: 100%;
    // top: 20%;
    // left: 0;
    left: 13%;
    //   top: calc(6rem + 6vw);
    //   // left: calc(100% - 75vw - 5rem);

    height: 100vh;
    min-height: 52rem;
  }

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  position: relative;
  top: -3rem;
  // // margin-top: calc(6rem + 65vh);
  // // top: 0;
  // top: calc((100vw / (16 / 9)) + 6vw);

  // margin-top: 14rem;
  h1 {
    @include font-color-light;
  }

  // z-index: 2;
  // outline: 5px solid cyan;
  /* ———————————————————————————————————————————————————————————————————————— */

  padding: 2rem 4rem 2rem 3rem;

  @include font-color-light;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: skewX(4deg);
    background-color: color.adjust($rosewood, $lightness: -12%, $alpha: -0.3);
    box-shadow: 3px 3px 10px
      color.adjust(hsl(218, 74%, 27%), $lightness: -12%, $alpha: -0.5);
    border-radius: 0.5rem;
  }

  h1 {
    font-weight: 800;
  }

  p {
    margin: 2rem 0 0 0;
  }

  .description {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .actions {
    margin-top: 1.25rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;

    & > * {
      margin: 0.8rem 0.8rem;

      &:first-child {
        margin: 0 1rem 0 0;
      }

      &:last-child {
        margin: 0 0 0 1rem;
      }
    }
  }
}
