.img-background {
  // outline: 5px solid green;
  // opacity: 0.5;
  // position: absolute;
  // top: calc(26rem - 26vw);
  // width: 100%;
  // height: 100vh;
  z-index: 0;
  /* ———————————————————————————————————————————————————————————————————————— */

  // top: calc(26rem - 26vw);
  // height: 100vh;

  :global(picture) {
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 1rem,
      black 2rem,
      black calc(100% - 2rem),
      transparent calc(100% - 0.6rem)
    );
  }

  :global(picture) {
    @include breakpoint(md) {
      -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 2rem,
        black 8rem,
        black calc(100% - 13rem),
        transparent calc(100% - 1rem)
      );
    }
  }

  // @include theme(hacker) {
  //   filter: sepia() hue-rotate(80deg);
  // }
}
