.vignette {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  pointer-events: none;

  @include theme(default, light, $scoped: true) {
    mix-blend-mode: lighten;
    background: radial-gradient(
      ellipse,
      transparent 35%,
      color.adjust($rosewood, $alpha: -0.2)
    );
  }
  @include theme(default, dark, $scoped: true) {
    mix-blend-mode: darken;
    background: radial-gradient(
      ellipse,
      transparent 35%,
      color.adjust($rosewood, $alpha: -0.2, $lightness: -10%)
    );
  }

  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 2rem,
    black 8rem,
    black calc(100% - 17rem),
    transparent calc(100% - 1rem)
  );
}
