// TODO: simplify this (one wrapper is not necessary)
.particles-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  z-index: 0;
  position: relative;
}

.particles {
  position: absolute;
  height: 130vh;
  width: 100vw;
  z-index: -1;
  -webkit-mask-image: linear-gradient(
    -184deg,
    white calc(45rem - 30vw),
    transparent calc(100% - 10rem)
  );
}

#tsparticles {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;

  &[data-is-loaded] {
    opacity: 1;
  }
}
