.tree {
  top: 7rem;
  left: 1.5vw;
  position: absolute;
  height: 100%;
  overflow: hidden;
  line-height: 1.25;
  transform: scaleX(0.66) scaleY(0.75) translateX(-25%) translateY(-15%);

  @include theme(default, light, $scoped: true) {
    color: color.adjust($red-pigment, $lightness: 30%);
  }
  @include theme(default, dark, $scoped: true) {
    color: color.adjust($red-pigment, $lightness: 20%);
  }

  filter: saturate(60%);
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 1rem,
    black 40vh,
    black calc(100% - 50vh),
    transparent calc(100%)
  );

  .code {
    animation-name: slide-up;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @include breakpoint(lg) {
      &:hover {
        animation-play-state: paused;
      }
    }
  }

  code {
    text-shadow: 0px 0px 6px $raisin-black;

    &::before {
      content: attr(data-content);
    }
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(calc(11% + 10vw));
  }

  2% {
    opacity: 0.7;
  }

  11% {
    opacity: 1;
  }

  12% {
    opacity: 0.3;
  }

  13% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  31% {
    opacity: 0.3;
  }

  32% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
