@use 'astro-breakpoints/use-breakpoints.scss' as *;
@use 'astro-color-mode/use-color-mode.scss' as *;
@use '../app/vars.scss' as *;

.c-nav-outline {
	display: flex;
	flex-direction: column;
	padding-top: 1em;
	border-top: 1px solid hsl($foreground, 0.075);

	.current {
		color: #eee;
		text-decoration: underline;
	}

	@for $i from 1 through 6 {
		.l-#{$i} {
			padding-left: #{$i}em;
		}
	}

	a {
		display: block;
		padding: 0.334ex 1rem;
		margin: 0.25ex 0;
		border-radius: 0.5ex;
		opacity: 0.9;

		&.active {
			color: hsl($accent);
			background: hsl($foreground, 0.075);
		}
	}
}
