@use 'astro-breakpoints/use-breakpoints.scss' as *;
@use 'astro-color-mode/use-color-mode.scss' as *;
@use '../app/vars.scss' as *;

.c-pagination-links {
	display: flex;
	gap: 1rem;
	justify-content: space-evenly;
	margin: calc(15vh + 2rem) 0rem 1rem 0rem;

	svg {
		width: 3ex;
		height: 3ex;
	}

	a {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		align-items: center;
		justify-content: space-between;
		width: 50%;
		padding: calc(0.25rem + 0.75vw);
		margin: 1rem 0;
		color: hsl($foreground);
		border: 1px solid hsl($accent, 0.5);
		border-radius: 0.25em;
		box-shadow: 0.5rem 0.5rem 0.5rem hsl($background-darker, 0.3);

		& > * {
			margin: 0.5em 0.75em;
		}

		header {
			display: flex;
			gap: 1rem;
			align-items: center;
			font-size: 0.85em;
			opacity: 0.75;

			@include breakpoint(lg) {
				font-size: 1.05em;
			}

			& + * {
				font-size: 0.95em;
				@include breakpoint(lg) {
					font-size: 1.25em;
				}
			}
		}

		&:hover {
			color: hsl($accent);
			border-color: hsl($accent, 1);
			box-shadow: 0.5rem 0.5rem 0.5rem hsl($background-darker, 0.15);

			header {
				opacity: 1;
			}
		}

		&.prev {
			align-items: flex-start;
			text-align: left;
		}

		&.next {
			align-items: flex-end;
			text-align: right;
		}
	}
}
