.api-props {
  font-family: monospace;

  @include theme(default, light, $scoped: true) {
    color: $rosewood;
  }
  @include theme(default, dark, $scoped: true) {
    color: color.adjust($fiery-rose, $lightness: 20%);
  }

  .th {
    font-weight: 700;
    padding: 1rem 0.5em;
    background: color.adjust($fiery-rose, $alpha: -0.8);
    margin-bottom: 1rem;
  }

  .td {
    padding: 0.5em;
    border-right: 1px solid color.adjust($fiery-rose, $alpha: -0.7);

    &:last-of-type {
      border-right: none;
    }
  }

  .col-name {
    --width: 30%;

    font-weight: 700;
  }

  .col-type {
    --width: 25%;
  }

  .col-required {
    --width: 15%;
  }

  .col-default {
    --width: 30%;
  }
}

.button-expand {
}

#toggle-changelog {
  $all-after: "~ :global(ul:nth-of-type(1) ~ *:not(.invert))";

  display: none;

  #{$all-after} {
    display: none;
  }

  &:checked #{$all-after} {
    display: inherit;
  }

  &:checked ~ .invert {
    display: none;
  }

  &:checked ~ .button-expand {
    background-color: color.adjust($fiery-rose, $alpha: -0.5);
  }
}

#changelog {
  // Commit guidelines intro, force new line
  :global(p:first-of-type) {
    white-space: pre-wrap;
  }

  // Hide main title (already here)
  /* stylelint-disable-next-line no-descending-specificity */
  :global(h1) {
    display: none;
  }
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 3rem;

  @include breakpoint(md) {
    margin-top: 3rem;
  }

  @include breakpoint(lg) {
    margin-top: -5rem;
    margin-bottom: 6rem;
  }

  .title {
    margin: 1rem 0 1rem 0;
    @include breakpoint(md) {
      text-shadow: 0.09em 0.09em 0.09em color.adjust($rosewood, $alpha: -0.6);
      color: $lavender-blush;
    }

    @include breakpoint(lg) {
      margin: 1rem calc(0.4rem + 2.5vw) 1rem calc(0.4rem + 2.5vw);
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 0.5em 0.5em;
    }
  }
}
