.single-package {
  section {
    @include theme(default) {
      padding: 3rem;
      margin: 3rem;
    }

    @include theme(default, light) {
      // @include default-card(light);
    }
    @include theme(default, dark) {
      // @include default-card(dark);
    }

    @include theme(hacker) {
      padding: 2rem;
      margin: 2rem;
      @include hacker-card;
    }
  }
}
