---
import type { Props as BaseProps } from './Props';

export interface Props extends BaseProps {}
const props = { ...Astro.props } as Props;
/* ———————————————————————————————————————————— Typeguards + Fallbacks —————— */
if (typeof props.speed !== 'number') {
  props.speed = 500;
}
if (typeof props.background !== 'string') {
  props.background = null;
}
if (typeof props.zIndex !== 'number') {
  props.zIndex = 99;
}
/* —————————————————————————————————————————————————————————————————————————— */
---

<div id='app-transition-overlay'></div>

<script is:inline>
  // Critical
  (() => {
    // console.log('Transition [Overlay] inited.');
    const overlay = document.getElementById('app-transition-overlay');
    overlay.classList.add('is-visible');

    function show() {
      overlay.classList.add('is-loaded');
      setTimeout(() => {
        overlay.classList.remove('is-visible');
      }, 2);
    }
    // Safari shim for page history instant cache
    window.addEventListener('pageshow', (e) => e.persisted && show());
    window.addEventListener('load', () => show());
  })();
</script>

<script>
  import './Transition.client';
</script>

<style
  define:vars={{
    'app-transition-overlay-prop-background': props.background,
    'app-transition-overlay-prop-speed': `${props.speed}ms`,
    'app-transition-overlay-prop-z-index': props.zIndex,
  }}
  lang='scss'
>
  #app-transition-overlay {
    background: var(--app-transition-overlay-prop-background, hsl(0, 0%, 100%));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: var(--app-transition-overlay-prop-z-index, 99);
  }

  #app-transition-overlay.is-visible {
    opacity: 1;
  }

  #app-transition-overlay.is-loaded {
    transition: opacity var(--app-transition-overlay-prop-speed, 500ms);
  }
</style>
