.app-lightbox {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  pointer-events: none;
  cursor: zoom-out;
  // TODO: map color to API
  background-color: var(--bg-color, hsl(0, 0%, 0%, 0.85));
  opacity: 0;
  transition: opacity 0.35s;

  &.is-active {
    pointer-events: initial;
    opacity: 1;
  }
}

:global([data-lightbox]) {
  cursor: zoom-in;
}

.portal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  // TODO: map speed to API
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(0.2);

  :global(img) {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .is-active & {
    transform: scale(1);
  }
}
