---
export interface Props {
  /** **Default**: `'en'` */
  lang?: string;
  /** **Default**: `[]` (no classes) */
  htmlClasses?: string[];
  /** **Default**: `[]` (no classes) */
  bodyClasses?: string[];
  /** **Default**: `null` (no id) */
  htmlId?: string;
  /** **Default**: `null` (no id) */
  bodyId?: string;
  /** **Default**: `true`  
   * Provides early JS detection for further CSS use
   * by adding `js` class critically to HTML element. */
  jsEnabledClass?: boolean;
}
const props = Astro.props as Props;

if (!props.lang) {
  props.lang = 'en';
}
if (!props.htmlClasses) {
  props.htmlClasses = [];
}
if (!props.bodyClasses) {
  props.bodyClasses = [];
}
if (!props.htmlId) {
  props.htmlId = null;
}
if (!props.bodyId) {
  props.bodyId = null;
}
if (props.jsEnabledClass === undefined) {
  props.jsEnabledClass = true;
}
---

<!DOCTYPE html>
<html lang={props.lang} class:list={[...props.htmlClasses]} id={props.htmlId}>
  <head>
    <script define:vars={{ enabled: props.jsEnabledClass }} is:inline>
      // CRITICAL
      // Add 'js' class to HTML tag if JavaScript is enabled
      if (enabled) {
        (() => {
          const root = document.getElementsByTagName('html')[0];
          root.classList.add('js');
        })();
      }
    </script>

    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <slot name='head'></slot>
  </head>

  <body class:list={[...props.bodyClasses]} id={props.bodyId}>
    <slot name='body'></slot>
  </body>
</html>
